{% assign essay_pages = site.pages | where: "type", "essay" | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages | size %}
{% assign num_projects = project_pages | size %}

<div class="ui three column stackable grid">
  <div class="column">
    <a class="ui fluid button" href="{{ site.baseurl }}/projects">Projects ({{ num_projects }})</a>
  </div>
  <div class="column">
    <!-- Label changed only -->
    <a class="ui fluid button" href="{{ site.baseurl }}/essays">Research ({{ num_essays }})</a>
  </div>
  <div class="column">
    <a class="ui fluid button" href="{{ site.baseurl }}/bio">{{ site.bio-page-label }}</a>
  </div>
</div>
