{% assign essay_pages = site.pages | where: "type", "essay" | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages | size %}
{% assign num_projects = project_pages | size %}

<div class="ui three item menu">
  <a class="item" href="{{ site.baseurl }}/projects">Projects ({{ num_projects }})</a>
  <!-- Label changed only -->
  <a class="item" href="{{ site.baseurl }}/essays">Research ({{ num_essays }})</a>
  <a class="item" href="{{ site.baseurl }}/bio">{{ site.bio-page-label }}</a>
</div>
